<%- include('partials/header'); -%>
<h1><%= title %></h1>
<p><%= text %></p>


<% blogs.forEach(function(post) { %>
    <h1><%= post.title %></h1>
    <p><%= post.text.substring(0,100) + " ... " %><a href="/posts/<%=post.title.trim()%>" >Read More</a></p>
<% }) %>

<%- include('partials/footer'); -%>